{%extends 'layout.html'%}

{% block content %}
<div class="">
    <div class="article-title"></div>
    <div class="list flex-cc">
        <ul>
            <li class="list-row clearfix">
                <ul>
                    <li class="list-col">文章名称</li>
                    <li class="list-col">作者</li>
                    <li class="list-col">所属书籍</li>
                    <li class="list-col">时间</li>
                    <li class="list-col">操作</li>
                </ul>
            </li>
            {%for articlelist in articlelists%}
            <li class="list-row clearfix">
                <ul>
                    <li class="list-col">{{articlelist.articlename}}</li>
                    <li class="list-col">{{articlelist.author.username}}</li>
                    <li class="list-col">{{articlelist.bookcategory.bookname}}</li>
                    <li class="list-col">{{articlelist.article_time.toString()}}</li>
                    <li class="list-col flex-cc">
                        <a href="article_message/delete?id={{articlelist._id.toString()}}" class="handle-delete">删除</a>
                        <a href="article_message/edit?id={{articlelist._id.toString()}}" class="handle-alert">修改</a>
                    </li>
                </ul>
            </li>
            {%endfor%}
        </ul>
    </div>
</div>
{% endblock %}