{%extends 'layout.html'%}

{% block content %}
<div class="">
    <div class="book-title"></div>
    <div class="list flex-cc">
        <ul>
            <li class="list-row clearfix">
                <ul>
                    <li class="list-col">图书ID</li>
                    <li class="list-col">图书名</li>
                    <li class="list-col">图书分类</li>
                    <li class="list-col">图书作者</li>
                    <li class="list-col">操作</li>
                </ul>
            </li>
            {%for booklist in booklists%}
            <li class="list-row clearfix">
                <ul>
                    <li class="list-col">{{booklist._id.toString()}}</li>
                    <li class="list-col">{{booklist.bookname}}</li>
                    <li class="list-col">{{booklist.book_type.name}}</li>
                    <li class="list-col">{{booklist.author.username}}</li>
                    <li class="list-col flex-cc">
                        <a href="book_message/delete?id={{booklist._id.toString()}}" class="handle-delete">删除</a>
                        <a href="book_message/edit?id={{booklist._id.toString()}}" class="handle-alert">修改</a>
                    </li>
                </ul>
            </li>
            {%endfor%}
        </ul>
    </div>
</div>

{% endblock %}