<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/public/css/public.css"/>
    <link rel="stylesheet" href="/public/css/admin_form.css"/>
</head>
<body>

<div class="bookadd">
    <form method="post">
        <div class="bookname clearfix"><span>书名</span><input type="text" id="bookname" name="bookname" value="{{content.bookname}}" /></div>
        <div class="bookcategory clearfix">
            <span>图书分类</span>
            <select name="category" id="category" class="form-control">
                {% for category in categories%}
                {%if content.book_type.toString() == category._id.toString()%}
                <option value="{{category.id}}" selected>{{category.name}}</option>
                {%else%}
                <option value="{{category.id}}" >{{category.name}}</option>
                {%endif%}
                {% endfor %}
            </select>
        </div>
        <div class="bookinfo clearfix">
            <span>简介</span> <textarea name="description" id="description" >{{content.book_info}}</textarea>
        </div>
        <button type="submit" class="bookbtn">提交</button>
    </form>
</div>

</body>
</html>