{%extends 'layout.html'%}

{% block content %}
<div>

    <div class="admin-content">
        <div class="wrap3d">
            <div class="admin-3d">
                <ul class="admin-3dcontent">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
        <div class="admin-title">
            欢迎进入后台管理
        </div>

    </div>

</div>


{% endblock %}
