<!-- 用户详情 -->
<div id="detail">
    <div class="detail-message">
        <div class="id"></div>
        <div class="detail-name">
            姓名：
            <input class="detail-input" type="text" value="">
        </div>
        <div class="detail-tenumber">
            电话：
            <input class="detail-input" type="text" value="">
        </div>
        <div class="detail-address ">
            地址：
            <input class="detail-input" type="text" value="" />
        </div>
        <div class="detail-intro ">
            备注：
            <br/>
            <textarea class="detail-textarea" cols="40" rows="50"></textarea>
        </div>
    </div>
    <button class="detail-btn" id="detail-change">修改</button>
    <button class="detail-btn ">返回</button>
</div>