<!-- 新建联系人弹窗 -->
<div class="addpop">
    <div class="wrap">
        姓名：
        <input type="text" class=" input-message" id="name">
        <br/>
        <br/> 电话：
        <input type="text" class="input-message" id="telephone">
        <br/>
        <br/> 地址：
        <input type="text" class="input-message" id="address">
        <br/>
        <br/> 备注：
        <input type="text" class="input-message" id="intro">
        <br/>
        <br/>
        <button class="fun-btn save">保存</button>
        <button class="fun-btn exit">退出</button>
    </div>
</div>